html {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  height: 100%;
  background-color: rgb(8, 18, 28);
}

.App {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
